#system spcifications

In [1]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [2]:
!cat /proc/meminfo

MemTotal:       13298580 kB
MemFree:        10827140 kB
MemAvailable:   12470672 kB
Buffers:          107280 kB
Cached:          1683596 kB
SwapCached:            0 kB
Active:           974472 kB
Inactive:        1304436 kB
Active(anon):     435516 kB
Inactive(anon):      452 kB
Active(file):     538956 kB
Inactive(file):  1303984 kB
Unevictable:           0 kB
Mlocked:               0 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:               360 kB
Writeback:             0 kB
AnonPages:        487888 kB
Mapped:           227668 kB
Shmem:              1204 kB
KReclaimable:      84088 kB
Slab:             126524 kB
SReclaimable:      84088 kB
SUnreclaim:        42436 kB
KernelStack:        4912 kB
PageTables:         7248 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6649288 kB
Committed_AS:    2969596 kB
VmallocTotal:   34359738367 kB
VmallocUsed:        7284 kB
VmallocChunk:          0 kB
Percpu:             1504 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:      101184 kB
DirectMap2M:     6187008 kB
DirectMap1G:     9437184 kB

# Install pandas library

In [3]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [4]:
import pandas as pd

In [7]:
data = pd.read_csv("/content/california_housing_test.csv")

In [8]:
data.head(4)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0

In [9]:
print ("machine learning")

machine learning

In [10]:
!ls

california_housing_test.csv  sample_data

#programming languages used for machine learning
#python
#R

#print function

In [12]:
print ("Machine learning")

Machine learning

note: we can use either single quotes ' ' or double quotes " ", for print function.

In [14]:
print("machine learning" + " " + "projects")

machine learning projects

In [15]:
print(8)

8

In [16]:
print(8+3)

11

# Basic data types.
#1. Integers,2. floating points, 3. strings.

In [17]:
type(8)

int

In [18]:
type(5.3)

float

In [19]:
type("english")

str

#constants and variables.
constants are those values that cannot be changed.
variables are those values that can be changed.
Here we will discuss about variables.

In [22]:
super_hero = "Iron man"

use underscore to consider multiple words as a single word.
eg: superhero can be written as super_hero

In [24]:
print(super_hero)

Iron man

In [25]:
super_hero = "captin america"
print(super_hero)

captin america

In [27]:
hero_1, hero_2, hero_3  = "ironman", "captin america","batman"

In [29]:
print(hero_1)
print(hero_2)
print(hero_3)

ironman
captin america
batman

giving similar values to multiple variables.

In [30]:
x = y= z =23
print(x)
print(y)
print(z)

23
23
23

#input function

In [34]:
number_1 = int(input('Enter the first number'))
number_2 = int(input('enter the second number'))

sum = number_1 + number_2
print(sum)

Enter the first number45
enter the second number56
101

#changing the data type in python.

In [35]:
num = 5
type(num)

int

In [36]:
#float(num)
print(float(num))

5.0