#Types of objects in python
1.Immutable objects
2.Mutable objects

Immutable objects
1. integers
2. Float
3. string
4. boolean
5. tuple

Mutable objects
1. List
2. Set
3. Dictionary

#List

In [1]:
# Lists are enclosed in "[..]",they can store multiple values.
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [2]:
type(my_list)

list

In [4]:
# list can have multiple data types. where as set does not allow this, set can have only one type of data.
my_new_list = [1,2,3,4,5,"English", "Maths", 3.4, ]

In [5]:
print(my_new_list)

[1, 2, 3, 4, 5, 'English', 'Maths', 3.4]

In [8]:
#Adding elements to the list.
my_new_list = [1,2,3,4,5,"English", "Maths", 3.4, ]
my_new_list.append("Apple")
print(my_new_list)

[1, 2, 3, 4, 5, 'English', 'Maths', 3.4, 'Apple']

In [9]:
#Print elements usingg their index.
print(my_new_list[4])
print(my_new_list[7])

5
3.4

In [11]:
#Lists allow the duplicate values, sets donot allow duplicate values.
list_1 = [1,1,2,2,3,4,5,7.8,3,4,5,]
print(list_1)

[1, 1, 2, 2, 3, 4, 5, 7.8, 3, 4, 5]

In [12]:
#Checking the number of elements in the list
len(list_1)

11

In [14]:
#Initiating an empty list
list_2 = []
print(list_2)

[]

In [15]:
list_2.append('apple')

In [16]:
print(list_2)

['apple']

In [19]:
#Delete an element in the list.
list_3 = [1,2,3,4,5,6,7]
print(list_3)

[1, 2, 3, 4, 5, 6, 7]

In [21]:
del list_3[4]
print(list_3)

[1, 2, 3, 4, 7]

In [22]:
#join two lists
print(list_3)
print(my_new_list)

[1, 2, 3, 4, 7]
[1, 2, 3, 4, 5, 'English', 'Maths', 3.4, 'Apple']

In [24]:
list_4 = list_3 + my_new_list
print(list_4)

[1, 2, 3, 4, 7, 1, 2, 3, 4, 5, 'English', 'Maths', 3.4, 'Apple']

#Tuple 
-Tuple are similar to lists but they are immutable. They are enclosed in (..) brackets.

In [27]:
tuple_1 =(1,2,3,4,5)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4, 5)

tuple

In [28]:
#Tuples allow multiple data types.
Tuple_2 = (1,2,3,4,5,'English',"apple")

In [29]:
print(Tuple_2)

(1, 2, 3, 4, 5, 'English', 'apple')

In [30]:
#Converting a list to tuple.
my_tuple = tuple(my_new_list)
print(my_tuple)

(1, 2, 3, 4, 5, 'English', 'Maths', 3.4, 'Apple')

In [31]:
print(my_tuple[1])

2

Tuples are immutable, it means that we cannot add things or delete things in tuples.

In [32]:
#Number of elements in tuple.
len(my_tuple)

9

#Sets are also mutable , they are represented by {...}, braces.

In [33]:
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [34]:
# set does not support indexing
#Convert list to a set
set_1 = set(my_new_list)
print(set_1)

{1, 2, 3, 4, 5, 3.4, 'English', 'Maths', 'Apple'}

In [35]:
#set doesnot allow duplicate values.
set_2 = {1,1,2,2,3,3,4,5,5,5}
print(set_2)

{1, 2, 3, 4, 5}

#Dictionary, it contains key and value pair.

In [36]:
dict_1 = {'name':'david', 'age':23, 'country':'india'}
print(dict_1)

{'name': 'david', 'age': 23, 'country': 'india'}

In [37]:
type(dict_1)

dict

In [39]:

print(dict_1['name'])
print(dict_1['age'])
print(dict_1['country'])

david
23
india

In [41]:
#Dictionary does not allow duplicate values.
dict_2 = {"name":"Ravi", "name":"Ravi"}
print(dict_2)

{'name': 'Ravi'}